<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Release Dashboard Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Release Dashboard <%= current_version %></a>
          <div class="nav-collapse">
            <ul class="nav">
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span8 offset2">
          <h1>Aw, darnit!</h1>
          <p>Sorry, but your login was not recognized by <%= jira_host %>. The
          server returned the following:</p>
          <div class="alert alert-error">
            <%= @result.split("<!DOCTYPE html>")[0].rstrip.gsub("\n", "<br>") %>
          </div>
          <% if @result.match(/CAPTCHA_CHALLENGE/) %>
          <div class="alert alert-info">
            It looks like you entered the wrong password too many times and made Jira very suspicious. Please
            <a href="https://<%= jira_host %>" target="__rdashboard">go to <%= jira_host %></a>
            and change your password. Then come back and log in again.<br><br>

            If the problem persists, please contact your nearest system administrator.
          </div>
          <% else %>
             <p>Double check your username and password. Make sure they're the
             same ones you use to login to <a href="https://<%= jira_host %>" target="__rdashboard"><%= jira_host %></a>.</p>
          <% end %>
          <p><a href="/" class="btn btn-primary">Log in in again</a></p>
        </div>
      </div>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script>
      $('.help').popover();
    </script>
  </body>
</html>