<html>
<head>
  <title>Start Form</title>
</head>
<div id="content">
  <form method="post" action="/start">
    <% ['host', 'username', 'password'].each do |field_name| %>
      <%= field_name %> <input type="<%= field_name == 'password' ? 'password' : 'text' %>" name="<%= field_name %>" /><br/>
    <% end %>
    <input type="submit" value="Log in"/>
  </form>
</div>
</html>